body {
    background: #1d1d1d;
    overflow-x: hidden;
}

#threejs-canvas {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}